<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>conversor monedas</title>
  </head>
  <body>

    <div id="app">
        <div class="container">
            <h4 class="text-center mt-3">conversor de monedas vue js usando axios</h4>
            <div class="row">
                <div class="col-sm-6">
                    <label for="actual"></label>
                    <select name="" id="" class="form-control">
                        <option v-for="moneda in formatearMonedas">
                            {{ moneda.currencyName }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="final"></label>
                    <select name="" id="" class="form-control">
                        <option v-for="moneda in formatearMonedas">
                            {{ moneda.currencyName }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <input v-model="cantidad" type="text" name="" id="" class="form-control my-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-5 text-center">
                    <button :disabled="deshabilitado" @click="convertirMoneda()" class="btn btn-success">convertir moneda</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-5">
                    <h2 class="text-center my-5">{{ calcularResultado }}</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!-- VUE CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- AXIOS CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- mis javascript-->
    <script src="js/app.js"></script>
</body>
</html>